- var page = 'index'

doctype html
html(lang='en') 
    include head.pug

    body
        #wrapper.d-flex
            //- include ./sidebar.pug
            #page-content-wrapper 
                include ./navbar.pug
                .container-sm
                    h1.display-6.linear-wipe Welcome to the Quantum Realm

                    p.lead The word <i>Quantum</i> might seem strange and scary, but it doesn't have to be. It's a label for the rules that describe all behavior in the universe, so far as humanity knows.
                    p.lead Often, the conversation about quantum rules starts with a lot of imagination and mathematics. We're taking a different approach. The resources on this site can help you build an intuition about quantum principles by using simple games and puzzles that you can practice in the real world.
                    //- p.lead <a href='about.html'>Learn more about the project</a>
                    <a class='lead button-secondary' href='lessons.html'>View lessons</a><br/>
                    <a class='lead button-primary' href='puzzles.html'>Play Quantum Chess puzzles</a>
                .container-sm(style='margin-top: 192px;')
                    h3 About
                    p The resources on this site are produced in a collaboration between Caltech, Google, <a href='https://quantumchess.net' target='_blank'>Quantum Realm Games</a>, and many more people and academic partners. Our goal is to help the public to develop an intuition about the principles of quantum physics.
                    p We believe that those principles are best introduced through play. We're learnifying gaming, not gamifying learning, and we're excited to learn with you.
                    p We would love to hear your feedback, answer your questions, or work with you: <a href='#form' target='_blank'>get in touch with us by using this form.</a>

                    #logos
                        a(href='https://quantumchess.net/', target='_blank' alt='Quantum Realm Games')
                            img(src='assets/logos/quantum-realm-games.png' alt='Quantum Realm Games logo' style='width:360px;')
                        a(href='https://iqim.caltech.edu/', target='_blank' alt='CalTech, Institute for Quantum Information and Matter')
                            //- img(src='assets/logos/caltech.png' alt='Caltech logo' style='width:200px;')
                            img(src='assets/logos/iqim.png' alt='IQIM logo' style='width:200px;')
                        a(href='https://quantumai.google/', target='_blank' alt='Google')
                            //- img(src='assets/logos/google.png' alt='Google logo' style='width:200px;')
                            img(src='assets/logos/google-quantum-ai.png' alt='Google Quantum AI logo' style='width:200px;')
                        a(href='http://www.wiu.edu/physics', target='_blank' alt='Western Illinois University, Department of Physics')
                            img(src='assets/logos/western-illinois-university.png' alt='Western Illinois University logo' style='width:280px;')
                        a(href='https://arcanforge.com/', target='_blank' alt='Arcanforge')
                            img(src='assets/logos/arcanforge.png' alt='Arcanforge logo' style='width:240px;')

        include foot.pug