- var page = 'lessons'

doctype html
html(lang='en') 
    include head.pug

    body
        #wrapper.d-flex
            //- include ./sidebar.pug
            #page-content-wrapper
                include ./navbar.pug
                #lessons-body.d-flex
                    #sidebar-wrapper.border-end.bg-white
                        //- .sidebar-heading.border-bottom.bg-light Lessons
                        .list-group.list-group-flush
                            a.list-group-item.header-2(href='#lessons') Lessons
                            a.list-group-item.header-3(href='#lessons_quantum-chess') Quantum Chess
                            a.list-group-item.header-3(href='#lessons_zeros-and-ones') Zeros and Ones
                            a.list-group-item.header-3(href='#learning-objectives') Learning objectives
                            a.list-group-item.header-3(href='#standards-alignment') Standards alignment
                            a.list-group-item.header-3(href='#general-introduction') General introduction to Quantum Physics

                            a.list-group-item.header-2(href='#quantum-chess') Lesson: Quantum Chess

                            a.list-group-item.header-2(href='#zeros-and-ones') Lesson: Zeros and Ones (Quantum Magic Square)
                            a.list-group-item.header-3(href='#agenda') Agenda
                            a.list-group-item.header-3(href='#overview') Overview
                            a.list-group-item.header-3(href='#introduction') Introduction
                            a.list-group-item.header-3(href='#game-play') Game play
                            a.list-group-item.header-3(href='#strategy-reflection') Strategy reflection

                            a.list-group-item.header-3(href='#conclusion') Conclusion

                    .container-sm#lessons

                        h1 Lessons
                        p.lead The following lessons include resources for instructors from all backgrounds to introduce their students to quantum physics through game play. The activities are independent, so you can use either activity, or both, in any order. We recommend that you start with the Quantum Chess puzzles.

                        section#lessons_quantum-chess 
                            h3 Quantum Chess
                            div.caption This activity requires no prior knowledge of chess.
                            p <a href='#quantum-chess'>Jump to the <i>Quantum Chess</i> activity.</a>
                            p The Quantum Chess activity helps students build an intuition about quantum information science concepts. The chess board gives students a physical object that they can imagine while trying to understand states, probabilities, and interactions across states. 
                            p Use this activity to ground your discussion about how information is encoded, stored, and transmitted in a quantum system.

                        section#lessons_zeros-and-ones
                            h3 Zeros and Ones (Quantum Magic Square)
                            p <a href='#zeros-and-ones'>Jump to the <i>Zeros and Ones</i> activity</a>
                            p The Zeros and Ones activity is a social, collaborative game where the students work together to overcome the mathematical odds. This activity emphasizes the limitations of classical physics of systems: an optimal strategy only enables a win ratio of 8/9. However, if the students had access to a quantum computer, the win ratio grows to 100%.
                            p Use this activity to motivate your discussion about how quantum systems enable new ways to transmit and capture information. 

                        section#learning-objectives
                            h3 Learning objectives
                            p Students communicate that a quantum system can express the relationships between multiple configurations of classical, single-state systems (coins are either heads or tails, physical chess pieces are either on the board or not).
                            p This is a feature of the real world as well, hidden from us until recently. Researchers at labs around the world are now learning how to create and wield quantum phenomena at our everyday, macroscopic scales. This work is the foundation for a new kind of super-powerful computer, quantum computers.

                        section#standards-alignment
                            h3 Standards alignment 
                            p For teachers in the US, you should find that these lessons align with the <a href='https://www.nextgenscience.org/' target='_blank'>Next Generation Science Standards</a>:
                            div.lesson-script
                                ul
                                    li MS-PS4-3:
                                        a(href='https://www.nextgenscience.org/pe/ms-ps4-3-waves-and-their-applications-technologies-information-transfer' target='_blank') Integrate qualitative scientific and technical information to support the claim that digitized signals are a more reliable way to encode and transmit information than analog signals.
                                    li HS-PS4-2:
                                        a(href='https://www.nextgenscience.org/pe/hs-ps4-2-waves-and-their-applications-technologies-information-transfer' target='_blank') Evaluate questions about the advantages of using digital transmission and storage of information.
                                    li HS-PS4-5:
                                        a(href='https://www.nextgenscience.org/pe/hs-ps4-5-waves-and-their-applications-technologies-information-transfer' target='_blank') Communicate technical information about how some technological devices use the principles of wave behavior and wave interactions with matter to transmit and capture information and energy.
                            p Both lessons aim to help students build an intuition about using quantum systems to reason about the encoding and transmission of digital information.

                           
                        section#general-introduction
                            h3 General introduction to Quantum Physics
                            p You can use this script before the first lesson:
                            div.lesson-script
                                p "Today we are going to explore an exciting branch of physics called Quantum physics. Quantum physics usually deals with things that are very very small, like particles and atoms. This level is called the Quantum Realm. Things are different down at that level. One amazing aspect of the Quantum Realm is that it predicts the existence of many parallel universes, where things can be very different from our universe. For example, there may be a universe in which dinosaurs still roam the Earth, or even ones in which time travel and teleportation have already been developed."
                                p "If you’ve heard of the Marvel superhero Antman, then you’ve already been introduced to the Quantum Realm! Antman wears a special suit that makes him extremely tiny, allowing him to enter a tiny universe called the Quantum Realm."
                                p "The idea that we may be living in just one of multiple universes - a multiverse - may sound unbelievable, like something out of science fiction. Still, it’s something that most quantum physicists believe to be true, and are currently researching. In fact, scientists at universities like Caltech and companies like Google, are looking for ways to manifest the powers of the Quantum Realm at the human scale. This would open a world of possibilities for the future of science and humanity, and we’re going to learn more about it today!"
                        



                        section#quantum-chess
                            h2 Lesson: Quantum Chess
                            img(src='assets/logos/quantum-chess.webp' alt='Quantum Chess logo' style='width: 190px; margin: 20px;')
                            p Run this activity
                            ul
                                li <a href='puzzles.html'>Go to the guided Quantum Chess puzzles</a>
                                li <a href='https://docs.google.com/presentation/d/1rOxF-8DQN6EKvmh3s1JEWUaOdAXam8GIms4ZrCFAriE/edit?usp=sharing' target='_quantumChessSlides'>Present the slides</a>
                                li Choose a <a href='#conclusion'>conclusion</a> (info below, <a href='https://docs.google.com/presentation/d/1rOxF-8DQN6EKvmh3s1JEWUaOdAXam8GIms4ZrCFAriE/edit#slide=id.g122f15d85e6_2_11' target='_quantumChessSlides'>slides</a>).
                                //- li Choose a conclusion:
                                //-     ul
                                //-         li <a href='https://docs.google.com/presentation/d/1rOxF-8DQN6EKvmh3s1JEWUaOdAXam8GIms4ZrCFAriE/edit#slide=id.g122f15d85e6_2_11' target='_quantumChessSlides'>Outro A: Practical Application Video (slides 3-6)</a>
                                //-         li <a href='https://docs.google.com/presentation/d/1rOxF-8DQN6EKvmh3s1JEWUaOdAXam8GIms4ZrCFAriE/edit#slide=id.g122f15d85e6_2_37' target='_quantumChessSlides'>Outro B: Quantum in Hollywood (slides 7-8)</a>

                            p You can use the following script to introduce your class to Quantum Chess puzzles. The in-puzzle character will do the rest.
                            div.lesson-script
                                p "Raise your hand if you have played chess before or seen Queen’s Gambit?"
                                p "Today, our friends at Caltech, Google, and Quantum Realm Games are going to teach us how to play a version of chess with a Quantum twist! Through the game we will learn more about how things work at the Quantum Realm."
                                p "We'll learn about a concept called <b>quantum superposition</b>, which is when something can exist in multiple states at the same time."
                                p "We will also learn about another amazing power hiding within the quantum realm: <b>quantum entanglement</b>. Quantum entanglement is so powerful, it is thought to connect all of space and time, including how the multiverse itself is stitched together."
                                p "When you go to this link on your device, you will be directed through a series of puzzles. These puzzles apply the laws of quantum physics to the classic game of chess. You don’t need to know how to play chess to enjoy the game."
                        



                        section#zeros-and-ones
                            h2 Lesson: Zeros and Ones (Quantum Magic Square)
                            img(src='assets/logos/zeros-and-ones.png' alt='Zeros and Ones logo' style='width: 260px; margin: 20px;')
                            p.lead Zeros and Ones (a quantum Magic Square game) offers students a chance to understand the limitations of classical physics, and improve their chances at winning a game by using Quantum Information Science as an analytic tool. This activity highlights the limitations of classical systems analysis.
                            p Click on the following buttons to run the activity. For more information about the activity, continue reading below.
                            p Run this activity 
                            ul
                                li Before class: print <a href='https://drive.google.com/file/d/19n8KYIzd4Hq--w6duAGOPM42veEJSx5Y/view' target='_blank'>game sheets.</a>
                                li Project the <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/edit#slide=id.p' target='_zerosAndOnesSlides'>presentation slides.</a>
                                li Play the <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/edit#slide=id.g122ec1bc703_2_169' target='_onesAndZerosSlides'>pre-recorded facilitator (slide 3).</a>
                                li Choose a <a href='#conclusion'>conclusion</a> (below).
                            
                        section#agenda
                            h3 Agenda
                            ol#agenda-list
                                li <b>Introduction:</b> (5 mins) - See language provided on our Quantime website.
                                li <b>Play the game:</b> (25 min) - An engaging full-class activity that builds excitement around quantum and fosters collaboration among students.
                                li <b>Strategy:</b> (5-10 min) - Students explore the best classical strategy to win the game. They learn that winning the game becomes exponentially harder with each additional round.
                                li <b>Quantum connection:</b> (10-15 min) - Students 1.) revisit the Zeros and Ones game through an animation that recasts the game’s strategy in a quantum light, and 2.) a video presenting some of the amazing, real world applications of quantum computers.
                            table.table#agenda-table
                                tbody
                                    tr
                                        th Section
                                        th Time (minutes)
                                        th Description
                                    tr
                                        td Introduction
                                        td 5m
                                        td This activity demonstrates the power of two important concepts in Quantum physics: <b>quantum superposition</b> and <b>quantum entanglement</b>. These two concepts may be responsible for everything that exists in the universe.
                                    tr
                                        td Play the game
                                        td 25m
                                        td An engaging full-class activity that builds excitement around quantum and fosters collaboration among students.
                                    tr
                                        td Strategy
                                        td 5-10m
                                        td Students explore the best classical strategy to win the game. They learn that winning the game becomes exponentially harder with each additional round.
                                    tr
                                        td Quantum connection
                                        td 10-15m
                                        td Students 1.) revisit the Zeros and Ones game through an animation that recasts the game&rsquo;s strategy in a quantum light, and 2.) a video presenting some of the amazing, real world applications of quantum computers.

                        section#overview
                            h3 Overview for the instructor
                            p In a standard Magic Square game, a player is given 9 numbers and a 3 by 3 grid. The task is to fill in the grid with the numbers so that all rows, columns, and diagonals sum to a single number. Solutions exist to solve the Magic Square.
                            img(src='assets/lessons/classical-magic-square.svg', alt='9 numbers and a 3 by 3 grid')
                            p In the Quantum Magic Square game, the goal is for two groups to coordinate the placement of the numbers 1 and 0 in their column and row, in a pattern so that both groups choose the same number where the one's row and the other's column intersect.
                            p The Blue group must populate the rows of the grid with an even number of ones. The Red group must populate the columns with an odd number of Zeros.
                            #strategy-table-wrapper
                                table.table#ones-and-zeros-overview-table
                                    tbody
                                        //- tr
                                        //-     th Blue
                                        //-     th Column Title 2
                                        tr
                                            td
                                                img(src='assets/lessons/row-strategy.svg', alt='Row strategy')
                                                div.caption Three rows that meet the requirements for Zeros and Ones: 011, 110, 101.
                                            td
                                                img(src='assets/lessons/column-strategy.svg', alt='Column strategy')
                                                div.caption Three columns that meet the requirements for Zeros and Ones: 010, 100, 111.
                                        tr
                                            td(colspan='2')
                                                img(src='assets/lessons/dice.png', alt='Dice')
                                                div.caption A pair of rolling dice
                                                //- Free use license: https://www.flickr.com/photos/wwarby/11520782376
                                        tr
                                            td
                                                img(src='assets/lessons/winning-condition.svg', alt='Winning condition: row 2, column 1')
                                                div.caption A winning play for the team, where the second row and first column were assigned. The Blue group chose 110, and the Red group chose 010. The row and column both have the number 1 at the intersection
                                            td
                                                img(src='assets/lessons/losing-condition.svg', alt='Losing condition row 2, column 2')
                                                div.caption A losing play for the team, where the second row and second column were assigned. The Blue group chose 110 and the Red group chose 100. The row and column have different numbers at the intersection.

                            p The dice introduce an element of chance that makes the Zeros and Ones game unwinnable if the game is played repeatedly. 
                            p However, if the students had access to a quantum system (like a quantum computer, or some other kind of "entangled qubit"), the quantum magic square game is winnable every time.
                            p In this game, the class divides into four teams, each with two groups. A <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/edit#slide=id.g122ec1bc703_2_169' target='_onesAndZerosSlides'>pre-recorded facilitator</a> guides the entire class through the process.

                        section#introduction
                            h3 Introduction
                            p If this is their first lesson, you can say:
                            div.lesson-script
                                p "Today our goal is to understand the power of two important concepts in Quantum physics: <b>quantum superposition</b> and <b>quantum entanglement</b>. These two concepts may be responsible for everything that exists in the universe. All of matter and light, all of space and time. We’re going to start by playing a game together. It’s a fairly simple game called Zeroes and Ones. I’m going to play a video so all you need to do is follow along.""
                            p If they’ve already done the chess puzzles lesson, you can say:
                            div.lesson-script
                                p "In the previous lesson, you learned about <b>quantum superposition</b> and <b>quantum entanglement</b> through the game of quantum chess. Remember: quantum superposition is when something can exist in multiple places at the same time. Today we are going to continue to see the power of superposition and entanglement through another game that we’re all going to play together.""

                        section#game-play
                            h3 Game play
                            p Before you begin: Print at least one set of <a href='https://drive.google.com/file/d/19n8KYIzd4Hq--w6duAGOPM42veEJSx5Y/view' target='_blank'>game play sheets</a> for each team.
                            p The <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/edit#slide=id.g122ec1bc703_2_169' target='_onesAndZerosSlides'>pre-recorded facilitator</a> leads the class through the following steps:
                            ul.checklist
                                li
                                    input#cb1(type='checkbox')
                                    label(for='cb1') Divide students into 4 groups, based on their location in the classroom.
                                li
                                    input#cb2(type='checkbox')
                                    label(for='cb2') Choose a referee for each group (4 referees in total).
                                li
                                    input#cb3(type='checkbox')
                                    label(for='cb3') Subdivide each group into two sides: Blue and Red.
                                li
                                    input#cb4(type='checkbox')
                                    label(for='cb4') The <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/edit#slide=id.g122ec1bc703_2_169' target='_onesAndZerosSlides'>pre-recorded facilitator</a> explains the specifics of the game Zeros and Ones.
                                li
                                    input#cb5(type='checkbox')
                                    label(for='cb5') After a demo round, each group has 3 minutes to strategize before the first round of play. If Red and Blue try to coordinate answers during the game, the group loses that round and is eliminated.
                                li
                                    input#cb6(type='checkbox')
                                    label(for='cb6') If two or more groups are eliminated during play, the game ends and the teacher wins.
                                li
                                    input#cb7(type='checkbox')
                                    label(for='cb7') If 3 or more groups remain after 4 rounds, the teacher declares the class the winner.

                            
                        section#strategy-reflection
                            h3 Strategy reflection
                            p Jump to the:
                            ul
                                li <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/edit#slide=id.g122ec1bc703_2_173' target='_zerosAndOnesSlides'>Strategy Discussion slides</a>
                                li <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/edit#slide=id.g120e4b95302_0_110' target='_zerosAndOnesSlides'>Quantum Strategy slides</a> or <a href='https://youtu.be/rr9PW_yemYw' target='_blank'>video</a>
                            p To win the game, every row needs an even number of 1s and every column needs an odd number of 1s. However, there's always one square that can't be filled in without breaking the rules. This means that there is only an 8/9 chance of winning any given round, or about 89%.
                            <img alt='Ideal strategy' src='assets/lessons/ideal-strategy.svg' style='width:260px;'/>
                            p We can write the probability for any one team winning four rounds in a row:
                            .mathjax $$p = \left( \frac{8}{9} \right)^4 \approx 62.43\%$$
                            //- <img alt='Equation' src='assets/lessons/strategy-reflection-figure-1.png' style='width:281px;' alt='p equals left parenthesis 8 divided by 9 right parenthesis to the power of 4 almost equal to 62 percent sign'/>
                            //- div#mathMLexample.
                            //-     <math><mtable columnalign="right center left"><mtr><mtd><msup><mrow><mo>( </mo><mi>a </mi><mo>+ </mo><mi>b </mi><mo>) </mo></mrow><mn>2 </mn></msup></mtd><mtd><mo>= </mo></mtd><mtd><msup><mi>c </mi><mn>2</mn>
                            //-     </msup><mo>+ </mo><mn>4 </mn><mo>⋅ </mo><mo>(</mo>
                            //-     <mfrac><mn>1 </mn><mn>2 </mn></mfrac><mi>a </mi><mi>b </mi><mo>)</mo>
                            //-     </mtd></mtr><mtr><mtd><msup><mi>a </mi><mn>2</mn>
                            //-     </msup><mo>+ </mo><mn>2 </mn><mi>a </mi><mi>b </mi><mo>+ </mo><msup><mi>b </mi><mn>2</mn>
                            //-     </msup></mtd><mtd><mo>= </mo></mtd><mtd><msup><mi>c </mi><mn>2</mn>
                            //-     </msup><mo>+ </mo><mn>2 </mn><mi>a </mi><mi>b</mi>
                            //-     </mtd></mtr><mtr><mtd><msup><mi>a </mi><mn>2</mn>
                            //-     </msup><mo>+ </mo><msup><mi>b </mi><mn>2</mn>
                            //-     </msup></mtd><mtd><mo>= </mo></mtd><mtd><msup><mi>c </mi><mn>2</mn></msup></mtd></mtr></mtable></math>
                            p Or, more generally, for winning n games in a row:
                            .mathjax $$p = \left( \frac{8}{9} \right)^n$$
                            //- <img alt='Equation' src='assets/lessons/strategy-reflection-figure-2.png' style='width:137px;' alt='p equals left parenthesis 8 divided by 9 right parenthesis to the power of n'/>
                            p Now we can write the probability of at least three groups winning all four rounds:
                            <img id='probability' alt='Equation' src='assets/lessons/probability.svg' alt='p to the power of 4 plus 4 left parenthesis 1 minus p right parenthesis p cubed space equals p to the power of 4 plus 4 p cubed minus 4 p to the power of 4 space equals 4 p cubed minus 3 p to the power of 4'/>
                            p Earlier, we calculated that the probability of winning all four rounds was $$\left( \frac{8}{9} \right)^4$$, so substituting that into our equation:
                            //- <img src='assets/lessons/894.png' style='display: inline-block;' alt='left parenthesis 8 divided by 9 right parenthesis to the power of 4' style='width:34px;'/>
                            .mathjax $$4 \left( \frac{8}{9} \right)^{4 \times 3} - 3 \left( \frac{8}{9} \right)^{4 \times 4}$$
                            .mathjax $$\approx 51.76\%$$
                            //- <img alt='Equation' src='assets/lessons/strategy-reflection-figure-4.png' style='width:251px;' alt='4 left parenthesis 8 divided by 9 right parenthesis to the power of 12 minus 3 left parenthesis 8 divided by 9 right parenthesis to the power of 16 approximately equal to 51.8 percent sign'/>
                            p As we build machines that enable us to engage with the quantum realm, like quantum computers, we can play this game in a way where we win 100% of the time. For this game, we need a device with six qubits that we can entangle.
                            p <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/edit#slide=id.g122ec1bc703_2_220' target='onesAndZerosSlides'>This video</a> following video describes how we can use these qubits to win the game.
                            
                        section#conclusion
                            h3 Conclusion
                            p Below are some suggested resources that you can use to close your lesson:
                            
                            h5 <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/present?slide=id.g120e4b95302_0_114' target='_zerosAndOnesSlides'>Practical applications</a> 
                            p This outro is about connecting the quantum concepts the students learned about to the real world. Before leading this workshop, feel free to watch all of the videos and decide which would be most appropriate for your class, or ask the class to choose! We love them all so we couldn’t choose just one!
                            .lesson-script "Today, we’ve been introduced to quantum superposition and how we can leverage it to win games, but quantum computing isn’t all about winning games. We’re going to wrap up today by watching a video that will help us understand how we can use quantum computing to solve some of the big challenges in the world."
                            ul
                                li <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/present?slide=id.g120e4b95302_0_197' target='_zerosAndOnesSlides'>What if we had working quantum computers today? (5:03)</a>
                                li <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/present?slide=id.g120e4b95302_0_204' target='_zerosAndOnesSlides'>Quantum Computers Explained - Limits of Human Technology (6:45, can start at 3:45 if too long)</a>
                                li <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/present?slide=id.g120e4b95302_0_212' target='_zerosAndOnesSlides'>How Quantum Computing Will Change the World (3:37)</a>
                            
                            h5 <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/present?slide=id.g120e4b95302_0_227' target='_zerosAndOnesSlides'>Quantum in Hollywood</a>
                            p This video pits actor Paul Rudd (Marvel’s Ant Man) against theoretical physicist Stephen Hawking playing each other in an epic game of quantum chess. 
                            p This video can be watched after either lesson but we recommend showing it after the students have been introduced to the chess puzzles. It’s a bit long but serves as a fun note to end on. If there is not enough time, we recommend sending the link home with your students so they can watch it on their own time!
                            p If the students are not familiar with Ant Man, explain that he is a Marvel superhero that has a special suit that makes him extremely tiny, allowing him to enter a tiny universe called the Quantum Realm. If the students are not familiar with Stephen Hawking, explain that he is a famous theoretical physicist, who tried to figure out the Theory of Everything - how gravity works at the quantum level.
                            ul
                                li <a href='Stephen Hawking faces Paul Rudd in epic chess match (feat. Keanu Reeves) (11:50)' target='_blank'>Stephen Hawking faces Paul Rudd in epic chess match (feat. Keanu Reeves)</a> (11:50)
    
                            h5 <a href='https://docs.google.com/presentation/d/1OWCkSIbSvnFFQBjHnmUf_OJ88-UyPEThyoBO37dpgQA/present?slide=id.g120e4b95302_0_231' target='_zerosAndOnesSlides'>Find out more</a>
                            p Our classroom time with quantum physics is coming to an end but hopefully this was an exciting introduction to the quantum world. 
                            p There is so much more to learn about this topic that we weren’t able to cover in this lesson. The study of quantum physics is vast and ever-growing, and if you’d like to continue your journey with it, there are many ways:
                            ul
                                li Explore the <a href='https://quantumchess.net/playground' target='_blank'>Quantum Chess playground</a>
                                li Learn More about Quantum Science:
                                    ul
                                        li <a href='https://scienceexchange.caltech.edu/topics/quantum-science-explained' target='_blank'>Caltech Quantum Physics explainers</a>
                                        li <a href='https://q12education.org/quantime' target='_blank'>Other Quantime activities at the Q12 Partnership</a>
                            
                            ul
                                li Play more quantum chess (either <a href='https://quantumchess.net/' target='_blank'>website</a> or give access to quantum realm version)
                                li On the same <a href='https://iqim.caltech.edu/quantime/' target='_blank'>website that we used to play the quantum chess puzzles</a>, you can find more resources to learn about quantum science.
                            


        include foot.pug