// Sidebar
#sidebar-wrapper.border-end.bg-white
    .sidebar-heading.border-bottom.bg-light Start Bootstrap 
    .list-group.list-group-flush
        a.list-group-item.list-group-item-action.p-3(href='#!') Dashboard
        a.list-group-item.list-group-item-action.p-3(href='#!') Shortcuts
        a.list-group-item.list-group-item-action.p-3(href='#!') Overview
        a.list-group-item.list-group-item-action.p-3(href='#!') Events
        a.list-group-item.list-group-item-action.p-3(href='#!') Profile
        a.list-group-item.list-group-item-action.p-3(href='#!') Status
