// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
 
#wrapper {
    overflow-x: hidden;
    background: url(../assets/stars.png) no-repeat fixed right 57px;
    background-size: 800px;
}

$sidebarWidth: 13rem;
$breakpoint: 992px;

#sidebar-wrapper {
    width: 0;
    overflow: visible;
    min-height: 100vh;
    padding-top: 24px;
    margin-left: -$sidebarWidth;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    a:not(:active) {
        color: black;
    }
}

#sidebar-wrapper .sidebar-heading { 
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: $sidebarWidth;
    margin-top: 60px;
}

#page-content-wrapper {
    min-width: 100vw;
    padding-bottom: 100px;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}


@media (min-height: 600px) {
    #sidebar-wrapper {
        // border: 1px solid red !important;
        position: fixed;
    }
}

@media (min-width: $breakpoint) {
    nav {
        position: fixed !important;
    }
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -$sidebarWidth;
    }
    .container-sm {
        // max-width: 960px;
        max-width: 640px;
        margin-left: $sidebarWidth + 2rem;
        #lessons-container {
            border: 1px solid red !important; // margin-left: $sidebarWidth + 2rem;
        }
    }
}


$blue: #1C7DE1;
$darkBlue: #005DBD;
$lightBlue: #c3d7f9;
$purple: #6516F5;
$pink: #EF87F9;

$yellow: #FEF6DC;
$yellow2: #F3E3AD;
// $yellow3: #F9E1C1;
$orange: #DF6900;
$red: #A72B1F;

$green: #BAFD4F;



body {
    background: white;
    // background: url(../assets/background.png);
    // background-size: 60px;
}



.logos {
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
        margin: 40px auto;
        // max-width: 300px;
        // max-height: 60px;
    }
}

.button-primary, .button-secondary {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    margin: 0 auto 20px;
    display: inline-block;
    transition: all .2s;
    &:hover {
        // filter: contrast(1.2) brightness(.9);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45)
    }
}
.button-primary {
    background: $blue;
    color: white !important;
}
.button-secondary {
    background: $yellow url('../assets/watercolor-texture.png');
    background-size: cover;
    color: black !important;
}

#puzzlesIframe {
    $iframeWidth: 960px;
    $iframeHeight: 583px;
    width: $iframeWidth;
    height: $iframeHeight;
    border-radius: 10px;
    overflow: hidden;
    background: #ddd;
}
#small-screen-error {
    display: none;
}
@media screen and (max-width: 1024px) {
    #puzzlesIframe {
        display: none;
    }
    #small-screen-error {
        display: block;
    }
}

a {
    color: $blue;
    &:active {
        color: $purple;
    }
    &:visited {
        color: $blue;
    }
    &:hover {
        color: $darkBlue;
    }
}

.caption {
    font-size: 12px;
    color: #555;
}

h1, .display-6 {
    padding-top: 140px; // uses padding instead of margin, for anchor alignment
    padding-bottom: 40px;
    color: $blue;
}
h2 {
    padding-top: 140px;
}
h3 {
    padding-top: 90px;
    font-size: 24px;
}
h4 {
    padding-top: 45px;
    font-size: 16px;
}
h5 {
    margin-top: 40px;
    font-size: 1.1rem;
}

btn-primary {
    background: $blue;
}
nav {
    background: $yellow url('../assets/watercolor-texture.png');
    background-size: cover;
    padding: .5rem 1rem;
    z-index: 1; // above sidebar
    width: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.navbar-brand {
    color: black !important;
    text-transform: uppercase;
    margin-right: 80px;
    font-weight: bold;
    position: relative;
    a {
        color: black;
    }
    img {
        display: inline;
        mix-blend-mode: darken;
        margin: -8px 6px -5px -2px;
        animation: rotate 20s infinite; 
        position: relative;
        z-index: 1; // above #icon-bg
    }
    #icon-bg { // pupil of Sphero's eye
        background: white;
        border-radius: 100%;
        width: 26px;
        height: 26px;
        position: absolute;
        top: 6px;
        left: 6px;
    }
}
@keyframes rotate {
    50% {
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.nav-item {
    margin-right: 20px
}
.nav-item.active a {
    color: black;
    font-weight: 600;
}

// LESSONS
section {
    // padding-top: 80px;
}
.header-2 {
    font-size: 14px;
    font-weight: bold;
}
.header-3 {
    font-size: 12px;
    padding-left: 30px;
}
ul.checklist {
    list-style-type: none;
    padding-left: 1rem;
    input {
        margin-right: 8px;
    }
    label {
        display: inline;
    }
}
.list-group-flush > .list-group-item {
    border: none;
    background: none;
}
.list-group-item.active {
    background: $lightBlue;
    border-radius: 0 99px 99px 0;
}







// EFFECTS

// https://codepen.io/shshaw/pen/YpERQQ
// Another option: https://www.gradient-animator.com/
// Another option: https://cssgradient.io/
@mixin linear-wipe {
    background: linear-gradient(to right, $blue 25%, $darkBlue 75%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 30s linear infinite;
    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }
}
.linear-wipe {
    @include linear-wipe()
}

.gradient {
    background: linear-gradient(to right, $purple 0%, $blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.lesson-script {
    // border: 1px solid #ddd;
    background: white;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.16);
    *:last-child {
        margin-bottom: 0;
    }
    margin-bottom: 20px;
}


@media (min-width: $breakpoint) {
    #agenda-list {
        display: none;
    }
}
@media (max-width: calc($breakpoint - 1px)) {
    #agenda-table {
        display: none;
    }
    .logos {
        zoom: 70%;
    }
}

#overview img {
    width: 260px;
}
#ones-and-zeros-overview-table {
    text-align: center;
}

#strategy-table-wrapper {
    max-width: 100%;
    overflow-x: scroll;
}

img {
    display: block;
    margin: 0 auto 0 auto;
}

.mathjax {
    text-align: center;
    margin-bottom: 20px;
}
mjx-container.MathJax[jax="CHTML"][display="true"] {
    display: inline;
}

#probability {
    width: 100%; //443px;
    max-width: 600px;
}

.todo-box {
    border: 1px dotted red;
}
.todo {
    color: red;
}

.lesson-cover {
    background: $yellow; 
    // background: white;
    display: flex;
    align-items: center; // vertical
    width: 100%; //mobile
    padding: 20px;
    height: 300px;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.16);
    margin: 40px 0;
    img {
        width: 70%;
    }
}